<div class="container border bg-white mt-5 rounded text-center">
  <div class="display-2 text-warning">Pokédex</div>
  <div class="row m-3 d-flex justify-content-between">
    <button (click)="decrease()" class="btn border-white w-25 btn-secondary">
      <
    </button>
    <button (click)="increase()" class="btn border-white w-25 btn-secondary">
      >
    </button>

    <div class="display-6">
      {{ pokedex.name | titlecase }} Nº{{ pokedex.id }}
    </div>

    <div
      class="row bg-secondary text-white justify-content-around rounded pt-3 mt-5"
    >
      <div>
        <img [src]="imagemPokemon()" />
      </div>

      <div class="container">
        <div class="row">
          <div id="alt" class="col border">
            Altura: {{ pokedex.height / 10 }} m
          </div>
          <div id="alt" class="col border">
            Peso: {{ pokedex.weight / 10 }} kg
          </div>
        </div>
        <div class="row">
          <div id="abt" class="col-sm border">{{ getAbility() }}</div>
          <div id="abt" class="col-sm border">{{ getType() }}</div>
        </div>
      </div>
    </div>
  </div>
</div>
