<div class="container border bg-white mt-5 rounded text-center">
  <div class="display-2 text-warning">
    Pokédex
  </div>
  <div class="row m-3 d-flex justify-content-between ">
    <button class="btn border-white w-25 btn-secondary">
      <
    </button>
    <button class="btn border-white w-25  btn-secondary">
      >
    </button>

    <div class="display-6">
      Bulbasaur   N-0001
    </div>

    <div class="row bg-secondary text-white justify-content-around rounded pt-3 mt-5">
      <div class="col d-flex">
        <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/official-artwork/1.png">
      </div>

      <div class="col">
        There is a plant seed on its back right from the day this Pokémon is born. The seed slowly grows larger.
      </div>

      <div class="col d-flex">
        Altura:
      </div>
      <div class="col d-flex">
        Peso:
      </div>

    </div>


  </div>

</div>
